gitops:
  namespaceScoped: true

catalog:
  name: ibm-operator-catalog
  displayName: IBM operator Catalog
  image: icr.io/cpopen/ibm-operator-catalog

subscription:
  wsaOperatorNamespace: websphere-automation
  channel: v1.11
  installPlanApproval: Automatic
  wsaInstanceNamespace: websphere-automation

operatorNamespace: websphere-automation

commonServicesNamespace: websphere-automation

licensingNamespace: ibm-licensing

certManagerNamespace: ibm-cert-manager

wsaHealth:
  spec:
    license:
      accept: true

wsaSecure:
  spec:
    license:
      accept: true      

wsa:
  spec:
    commonServices:
      registryNamespace: websphere-automation
    license:
      accept: true